
<header>
    <div class="contaner-wraper top-bar-stuff">
        <div class="logo-box-mess">
            <img src="/assets/retina-bikerental.png" alt="bike rental logo">
        </div>
        
        <nav class="links-nav-box" aria-label="Main Navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#map-section">About</a></li>
                <li><a href="/#bikess">Bikes</a></li>
                <li><a href="/#pricing-section">Cities & prices</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/my-orders">My orders</a></li>
            </ul>
        </nav>
    </div>
</header>
