<div style="max-width:400px;margin:10px auto;font-family:Arial;text-align:center; padding-top: 9%;">
<h2>Enter Your Email</h2>
<form action="/my-orders" method="post">
  <input type="email" name="email" placeholder="Your Email" required style="padding:10px;width:100%;margin-bottom:10px">
  <button type="submit" style="padding:10px;width:100%;background-color:#4CAF50;color:white;border:none">View Orders</button>
</form>
</div>
