<footer>
    <div class="contaner-wraper final-links">
        <div class="footer-cols-div">
            <div class="footer-col">
                <h4>Shortcut links</h4>
                <ul>
                    <li><a href="#">Quent per conubia nostra </a></li>
                    <li><a href="#">Nceptos himenaeos</a></li>
                    <li><a href="#">Mauris in erat</a></li>
                    <li><a href="#">Lustoac</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our mission</h4>
                <ul>
                    <li><a href="#">Aenean sollicitudin orem qui</a></li>
                    <li><a href="#">Duis sed odio sit amet nibh</a></li>
                    <li><a href="#">Morbi accumsan ipsum velit </a></li>
                    <li><a href="#">Nam nec tellus</a></li>
                    <li><a href="#">Class aptent taciti sociosqu</a></li>
                    <li><a href="#">Mauris in erat justo</a></li>
                    <li><a href="#">Sed non neque</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About us</h4>
                <ul>
                    <li><a href="#">Duis sed odio sit amet nibh</a></li>
                    <li><a href="#">Morbi accumsan ipsum velit </a></li>
                    <li><a href="#">Nam nec tellus</a></li>
                    <li><a href="#">Class aptent taciti sociosqu</a></li>
                    <li><a href="#">Mauris in erat justo</a></li>
                    <li><a href="#">Sed non neque</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Departments</h4>
                <ul>
                    <li><a href="#">Nam nec tellus</a></li>
                    <li><a href="#">Class aptent taciti sociosqu</a></li>
                    <li><a href="#">Mauris in erat justo</a></li>
                    <li><a href="#">Sed non neque</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="copyright-bottom">
        <div class="contaner-wraper">
            © 2021 Betheme by Muffin Group | All Rights Reserved | Powered by WordPress
        </div>
    </div>
</footer>
